<h1>UserSessions#new</h1>
<p>Find me in app/views/user_sessions/new.html.erb</p>


<%= form_tag user_sessions_path do %>
	<%= label_tag :email, "Email" %>
	<%= text_field_tag :email, params[:email] %>

	<br />
	<%= label_tag :password, "Password" %>">
	<%= password_field_tag :password %>

	<br />

	<%= submit_tag "Log In" %>

<% end %>
